//Colors
$primaryColor: #000;
$secondColor: #fff;
$thirdColor: #707070;
$fourthColor: #CFCFCF;
$colorMessage: #FF7BC1;

//RGBA Scroll
$rgbaScrollPrimary:rgba(255, 255, 255, 0.3);
$rgbaScrollSecond: rgba(48, 255, 42, 0.31);

//FontSize
$fontSize: 12px;

//Presetting
$borderRadius: 10px;